# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
.ipynb_checkpoints
venv
env/

## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iml
*.iws

.envrc
